version: "3.8"
services:
  postgres:
    image: postgres:17
    container_name: em-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: docker
      POSTGRES_PASSWORD: docker
      POSTGRES_DB: em
    volumes:
      - ./pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
